@model NTB.Floor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_masterpage.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Floor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FloorNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FloorNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BuildingId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuildingId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FloorTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FloorTypeId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
