@model NTB.Floor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_masterpage.cshtml";
    var building = ViewBag.Building as List<NTB.Building>;
    var type = ViewBag.Type as List<NTB.FloorType>;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Floor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FloorNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FloorNo)
            @Html.ValidationMessageFor(model => model.FloorNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoOfRooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoOfRooms)
            @Html.ValidationMessageFor(model => model.NoOfRooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BuildingId)
        </div>
        <select required name="BuildingId">
            @foreach (var item in building)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        @*<div class="editor-field">
            @Html.EditorFor(model => model.BuildingId)
            @Html.ValidationMessageFor(model => model.BuildingId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.FloorTypeId)
        </div>
        <select required name="FloorTypeId">
            @foreach (var item in type)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        @*<div class="editor-field">
                @Html.EditorFor(model => model.FloorTypeId)
                @Html.ValidationMessageFor(model => model.FloorTypeId)
            </div>*@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
