@model IEnumerable<NTB.Building>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_masterpage.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfFloors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfConstruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConstructionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupancyPermitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingStatusId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfFloors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfConstruction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConstructionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupancyPermitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingStatusId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
